@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  [data-theme="default"] {
    /*Nav Bar*/
    --nav-bar-bg: indigo;
    --nav-bar-bg-admin: darkblue;
    --nav-bar-bg-hover: Aquamarine ;
    --nav-bar-bg-hover-dd: darkorange;
    
    --nav-bar-color: deeppink;
    --nav-bar-color-hover: teal;
    --nav-bar-color-hover-dd: darkred;
      
    /*Body*/
    --body-bg: white;
    --body-bg-alt: indigo;
    --card-bg: darkblue;
    --card-bg-alt: teal;
  
    --body-color: black;
    --body-link-color: indigo;
    
    --list-image: var(--list-red);
  }
  [data-theme="darkness"] {
    /*
      000000  black
      2a285a  indigo (darker than indigo)
      333330  Gray
      711e15  redish accent???  or  803d36  redish accent
      676278  Light Gray
      8bb48f  Wing Color 1
      9db55f  Wing Color 2
      eceea9  Wing Color 3
      ffffff  White
      FFD700  Gold Accent (non Dragoon Form)
    */
    /*Nav Bar*/
    --nav-bar-bg: #676278;
    --nav-bar-bg-admin: #333330;
    --nav-bar-bg-hover: #8bb48f;
    --nav-bar-bg-hover-dd: #9db55f;
    
    --nav-bar-color: #FFD700;
    --nav-bar-color-hover: #711e15;
    --nav-bar-color-hover-dd: #eceea9;
      
    /*Body*/
    --body-bg: #2a285a;
    --body-bg-alt: #676278;
    --card-bg: #333330;
    --card-bg-alt: #711e15;

    --body-color: #ffffff;
    --body-link-color: #676278;
    
    --list-image: url("../public/images/bullets/DS_Darkness.webp");
  }
  [data-theme="red"] {
    /*
      000000  Black
      cc3333  light red
      993300  med red
      660000  dark red
      30662f  dark green
      85a65c  Wing Color 1
      8db71f  Wing Color 2
      e0eb68  Wing Color 3
      333333  dark gray
      ffffff  White
    */
    /*Nav Bar*/
    --nav-bar-bg: #660000;
    --nav-bar-bg-admin: #993300;
    --nav-bar-bg-hover: #85a65c;
    --nav-bar-bg-hover-dd: #8db71f;
    
    --nav-bar-color: #30662f;
    --nav-bar-color-hover: #333333;
    --nav-bar-color-hover-dd: #e0eb68;
      
    /*Body*/
    --body-bg: #cc3333;
    --body-bg-alt: #660000;
    --card-bg: #993300;
    --card-bg-alt: #333333;
    --btn-bg-hover: white;
  
    --body-color: #ffffff;
    --body-link-color: #660000;
   
    --list-image: url("../public/images/bullets/DS_Red-Eye.webp");
  }
}

@layer components {
  .btn-style {
    @apply p-3 border md:w-64 hover:bg-yellow-500 md:hover:bg-slate-500 bg-secondary border-secondary;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-position: inside;
  list-style-image: var(--list-image);
}
