@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  [data-theme="default"] {
    /*Nav Bar*/
    --primary: white;
    --secondary: gray;
    --tertiary: #A9A9A9 ;
    --accent: black;
  }
  [data-theme="darkness"] {
    --primary: #2A285A; 
    --secondary: #7B73AE;
    --tertiary: #D4C9FF;
    --accent: #C80046;
    
    /*Custom Bullet Points*/
    --list-image: var(--list-darkness);
  }
  [data-theme="red"] {
    --primary: #FF3600; 
    --secondary: #b50000;
    --tertiary: #ff4e1a;
    --accent: #1c9c00;
  
    /*Custom Bullet Point*/
    --list-image: var(--list-red);
  }
  [data-theme="jade"] {
    --primary: #00A36C; 
    --secondary: #00471a;
    --tertiary: #7efec0;/*#00471a;*/
    --accent: #c67f00;

    /*Custom Bullet Point*/
    --list-image: var(--list-jade);
  }
  [data-theme="silver"] {
    --primary: #fdfff1; 
    --secondary: #f6f5ee;
    --tertiary: #dfdfdf;
    --accent: #cc4a29;/*Teal: #00c9cd, Red: cc4a29*/
    
    /*Custom Bullet Point*/
    --list-image: var(--list-silver);
  }
  [data-theme="violet"] {
    --primary: #a539ff; 
    --secondary: #e274ff;
    --tertiary: #ffadff;
    --accent: #00A36C;
    
    /*Custom Bullet Point*/
    --list-image: var(--list-violet);
  }
  [data-theme="blue-sea"] {
    --primary: #00BEFF; 
    --secondary: #0072ad;
    --tertiary: #002f62;
    --accent: #FFD700;
    
    /*Custom Bullet Point*/
    --list-image: var(--list-blue-sea);
  }

  [data-theme="gold"] {
    --primary: #c9a800; 
    --secondary: #957b00;
    --tertiary: #ffd700;
    --accent: #542D62;
    
    /*Custom Bullet Point*/
    --list-image: var(--list-gold);
  }

  [data-theme="divine"] {
    --primary: #B5B5B5; 
    --secondary: #00A36C;
    --tertiary: #454545;
    --accent: #FF3600;
    
    /*Custom Bullet Point*/
    --list-image: var(--list-divine);
  }
}

@layer components {
  .nav-style {
    @apply px-6 py-3 font-semibold tracking-wider hover:bg-accent hover:text-secondary bg-secondary text-accent;
  }
  .menu-dropdown-content {
    @apply hidden group-hover:flex group-hover:flex-col absolute text-accent bg-secondary drop-shadow-md border border-secondary rounded-b-md;
  }
  .modal-wrapper {
    @apply fixed m-0 p-0 inset-x-0 inset-y-0 left-0 w-full h-full bg-gray-500/50;
  }
  .modal-close {
    @apply fixed md:absolute inset-y-0 right-0 top-0 h-fit p-3 pt-0 hover:cursor-pointer float-left;
  }
  .modal {
    @apply fixed md:relative md:rounded px-5 pt-2 pb-5 bg-secondary w-full md:w-1/2 h-full md:h-1/2 md:top-1/4 md:left-1/4 md:shadow-md md:shadow-accent;
  }
  .btn {
    @apply rounded w-fit p-3 m-3 bg-secondary border-accent border-2 hover:cursor-pointer;
  }
  .card {
    @apply rounded w-fit m-3 p-3 bg-secondary;
  }
}

html,
body {
  /*Generic Colors*/
  --black: #000000;
  --grey: #787878;
  --white: #FFFFFF;

  /*Custom Bullet Points*/
  --list-red: url("../public/images/bullets/DS_Red-Eye.webp");
  --list-darkness: url("../public/images/bullets/DS_Red-Eye.webp");
  --list-jade: url("../public/images/bullets/DS_Red-Eye.webp");
  --list-silver: url("../public/images/bullets/DS_Red-Eye.webp");
  --list-violet: url("../public/images/bullets/DS_Red-Eye.webp");
  --list-blue: url("../public/images/bullets/DS_Red-Eye.webp");
  --list-gold: url("../public/images/bullets/DS_Red-Eye.webp");
  --list-divine: url("../public/images/bullets/DS_Red-Eye.webp");
  --list-image: var(--list-red);
  
  background: var(--primary);

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-position: inside;
  list-style-image: var(--list-image);
}
